.flex-container .holder{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}
.flex-container .holder > div{
	font-weight: bold;
	font-size: 25px;
	background-color: green;
	width:100px;
	height: 100px;
}
.flex-container .holder .one{
	background-color: red;
	order:1;
}
.flex-container .holder .two{
	background-color: blue;
	order:1;
}

/* Your CSS Code here. */